body{
    margin:0;
    font-family:Arial;
    background:linear-gradient(135deg,#fff7ed,#ecfeff);
}

.container{
    max-width:400px;
    margin:auto;
    padding:20px;
}

h1{
    text-align:center;
    color:#0f766e;
}

label{
    margin-top:15px;
    display:block;
    font-weight:bold;
}

input{
    width:100%;
    padding:14px;
    border-radius:10px;
    border:none;
    margin-top:5px;
    font-size:16px;
}

button{
    width:100%;
    padding:15px;
    margin-top:20px;
    border:none;
    border-radius:12px;
    background:#0f766e;
    color:white;
    font-size:18px;
    font-weight:bold;
}

#resultado{
    margin-top:25px;
    background:white;
    padding:20px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
}
.tabla-contenedor {
    overflow-x: auto;
    margin-top: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 13px;
}

th {
    background: #0f766e;
    color: white;
    padding: 8px;
}

td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

tr:nth-child(even) {
    background: #f8f8f8;
}